* {
	margin: 0
}

html, body {
	margin:0;
	padding:0;
	height:100%;
	width:100%;
}

.wrapper {
	min-height: 100%;
	width: 100%;
	position:absolute;
	background: grey;
}

.banner {
	background: #2F4F4F;
	font: normal 230% veranda, helvetica-neue, helvetica, arial, serif;
	color: #ececec;
	text-align: center;
	letter-spacing: 0.2em;
	padding: 15px 10px 15px 60px;
}

.navbar {
	background: #2F4F4F;
	height:45px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: medium;
	border-color: #000066;
}

nav {
	margin-left: 0;
	font-size: 30px;
	font-family: veranda, helvetica-neue, helvetica, arial, sans-serif;
}

nav ul, ul.entries {
	list-style-type: none;
}

nav li a{
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}

ul {
	margin: 0;
	padding: 0;
}

ul.entries li {
	position:relative;
}

a {
	color: #FFFFBE;
	text-decoration: none;
}

a:hover {
	text-decoration:underline
}

.sideright {
	width: 25%;
	float:right;
	background:green;
	font: 25px/1.5 veranda, helvetica-neue, helvetica, arial, sans-serif;
	color: #ececec;
}

.content {
	float:left;
	width: 75%;
	color: #ececec;
	font: 20px/1.5 veranda, helvetica-neue, helvetica, arial, sans-serif;
	text-align: left;
	background:blue;
}

.push {
	height: 100px;
	width: 100px;
	/*background:  red;*/
}

.pad {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.footer {
	position: absolute;
	bottom: 0;
	padding-top: 20px;
	padding-bottom: 25px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	color: #ececec;
	font: 18px/1.5 veranda, helvetica-neue, helvetica, arial, san-serif;
	background: #2F4F4F;
	border-top-style: solid;
	border-right-style: solid;
	border-color: #000066;
}

.postlist {
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
}


