{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
<!--Specifies the header for the pages -->	
<a class="pure-menu-heading" href="{{relative}}index.html">Home</a>	
<ul>
	<li> <a href="{{relative}}about.html">About</a></li>
	<li> <a href="{{relative}}academics.html">Academics</a></li>
	<li> <a href="{{relative}}contact.html">Contact</a></li>
	<li> <a href="{{relative}}musings.html">Musings</a></li>
	<li> <a href="{{relative}}research.html">Research</a></li>
</ul>
