<p>
<a href= "{{site.data.social.twitter}}" target="_blank"><i class="fa fa-twitter fa-3x fa-fw" ></i></a>
<a href="{{site.data.social.github}}" target="_blank"><i class="fa fa-github fa-3x fa-fw"></i></a>
<a href="{{site.data.social.gplus}}" target="_blank"><i class="fa fa-google-plus fa-3x fa-fw"></i></a>
</p><br/>
<p>
<a href="{{site.data.social.linkedin}}" target="_blank"><i class="fa fa-linkedin fa-3x fa-fw"></i></a>
<a href="{{site.data.social.website}}" target="_blank"><i class="fa fa-laptop fa-3x fa-fw"></i></a>
<a href="mailto:travisscholten@gmail.com"><i class="fa fa-envelope-o fa-3x fa-fw"></i></a>
</p>