<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="{{site.data.social.twitter}}" target="_blank">@Travis_Sch</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="{{site.data.social.github}}" target="_blank">Travis-S</a></p>
<p><i class="fa fa-google-plus"></i> <a href="{{site.data.social.gplus}}" target="_blank">+TScholten</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="{{site.data.social.linkedin}}" target="_blank">Linkedin</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="{{site.data.social.website}}" target="_blank">My Webpage</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> travisscholten@gmail.com</a></p>