{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
<!-- Specifies the header for the pages -->	
<div class="pure-menu pure-menu-open">
<ul>
    <li><a href="{{relative}}index.html">Home</a></li>   
	<li> <a href="{{relative}}about.html">About</a></li>
	<li> <a href="{{relative}}academics.html">Academics</a></li>
	<li> <a href="{{relative}}contact.html">Contact</a></li>
	<li> <a href="{{relative}}musings.html">Musings</a></li>
	<li> <a href="{{relative}}research.html">Research</a></li>
    <li> <a href="{{relative}}resume.html">Resume</a></li>
</ul>
</div>
<a href= "{{site.data.social.twitter}}" target="_blank"><i class="fa fa-twitter fa-2x fa-fw" ></i></a><br/>
<a href="{{site.data.social.github}}" target="_blank"><i class="fa fa-github fa-2x fa-fw"></i></a><br/>
<a href="{{site.data.social.linkedin}}" target="_blank"><i class="fa fa-linkedin fa-2x fa-fw"></i></a><br/>
<a href="{{ site.data.social.mendeley }}" target="_blank"><i class="ai ai-mendeley fa-2x fa-fw"></i></a><br/>
