{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
<!-- Specifies the header for the pages -->	
<div class="pure-menu pure-menu-open">
<a href="{{relative}}index.html">Home</a>	
<ul>
	<li> <a href="{{relative}}about.html">About</a></li>
	<li> <a href="{{relative}}academics.html">Academics</a></li>
	<li> <a href="{{relative}}contact.html">Contact</a></li>
	<li> <a href="{{relative}}musings.html">Musings</a></li>
	<li> <a href="{{relative}}research.html">Research</a></li>
            <li> <a href="{{relative}}resume.html">Resume</a></li>
</ul>
</div>
On the Web:
<br/>
<a href="{{ site.data.social.gplus }}" target="_blank" style="text-decoration:none;"><img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+"/></a>
<a href="{{ site.data.social.twitter }}" target="_blank" style="text-decoration:none;"><img src="{{relative}}images/twitter.png" alt="Twitter" style="border:0;width:32px;height:32px;"/></a>
<a href="{{ site.data.social.github }} " target="_blank" style="text-decoration:none;">
<img src="{{relative}}images/Octocat.jpg" alt="GitHub" style="border:0;width:32px;height:32px;"/></a>
<a href="{{ site.data.social.mendeley }}"
target="_blank" style="text-decoration:none;">
<img src="{{relative}}images/mendeley.png" alt="Mendeley" style="border:0;width:32px;height:32px;"/>
</a>
<a href="{{ site.data.social.calendar }} "
target="_blank" style="text-decoration:none;">
<img src="{{relative}}images/calendar.png" alt="Calendar" style="border:0;width:32px;height:32px;"/></a>
