<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="author" content="{{site.author}}">
	<meta name="description" content="{{site.description}}">
    <meta name="keywords" content="{{site.keywords}}">
	<title> {{ page.title }}{% if page.title %} | {% endif %} TS</title>
	<link rel="stylesheet" href="master.css" />
	<link rel="icon" type="image/ico" href="images/favicon.ico"/>
</head>
<body>
<!--Specifies a wrapper around the entire page -->
<div id="wrapper">

	<!--Specifies a sidebar for ease -->
	<div class="side"></div>

	<!-- The main div holds the banner, navigation bar, content, a sidebar, and the footer-->
	<div id="main">

		<!--Specifies the Banner of the website. -->
		<div id="banner">
			<h1>Website of Travis S</h1>
		</div>

		<!-- Navigation Bar goes here. -->
		<div id="navbar">
			<nav role="navigation">
				<ul>
					<li> <a href="index.html">Home</a></li>
					<li> <a href="contact.html">Contact</a></li>
					<li> <a href="musings.html">Musings</a></li>
					<li> <a href="research.html">Research</a></li>
					<li> <a href="teaching.html">Teaching</a></li>
				</ul></nav>
            <div id="social">
            <!-- Google Plus Link -->
            <a href="https://plus.google.com/104928027598375464198?prsrc=3"
   rel="publisher" target="_blank" style="text-decoration:none;">
<img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;"/>
</a>
            <!-- Twitter Link -->
            <a href="https://twitter.com/Travis_Sch" target="_blank" style="text-decoration:none;">
<img src="images/twitter.png" alt="Twitter" style="border:0;width:32px;height:32px;"/>
</a>
            <!-- Mendeley Link -->
            <a href="http://www.mendeley.com/profiles/travis-s1/"
  target="_blank" style="text-decoration:none;">
<img src="images/mendeley.jpg" alt="Mendeley" style="border:0;width:32px;height:32px;"/>
</a>
            <!-- GitHub Link -->
            <a href="https://github.com/Travis-S" target="_blank" style="text-decoration:none;">
<img src="images/Octocat.jpg" alt="GitHub" style="border:0;width:32px;height:32px;"/>
</a>
            <!-- Google Calendar Link -->
            <a href="https://www.google.com/calendar/embed?src=travis.scholten%40gmail.com&amp;ctz=America/Denver"
  target="_blank" style="text-decoration:none;">
<img src="images/calendar.png" alt="Calendar" style="border:0;width:32px;height:32px;"/>
</a>
            </div>
		</div>

		<!-- Webpage content goes here -->
		<div id="content">{{ content }}</div>

		<!-- Right sidebar content goes here -->
		<div id="sideright"></div>
	
		<!-- This div "push" is used to force the footer to the bottom of the page. -->
		<div id="push"></div>

		<!-- Footer content goes here. -->
		<div id="footer">
			<!--Link to PandA -->
			I am affiliated with the <a href="http://www.cquic.org" target="_blank">Center for Quantum Information and Control</a> at the <a href="http://physics.unm.edu/" target="_blank">Physics and Astronomy Department</a> of the <a href="http://unm.edu" target="_blank">University of New Mexico</a><br/>
			<!--Creative Commons License -->
			The creative content of this page is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank">Creative 				Commons Attribution-NonCommercial 4.0 International License.</a>
		</div>
	</div>

	<!--Right sidebar for ease-->
	<div class="side"></div>
</div>
</body>
</html>









