<!-- This template sets the default layout for all the webpages. It specifies the banner on the page, the content, and the footer -->
<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title> {{ page.title }}{% if page.title %} | {% endif %} TS Website </title>
	<link rel="stylesheet" href="{{site.url}}/master.css" />
	<link rel="icon" type="image/ico" href="{{site.url}}/images/favicon.ico"/>
</head>
<body>
<!--Specifies a wrapper around the entire page -->
<div class="wrapper">
<!--Specifies the Banner of the website. This is visible on all pages -->
<div id="header">
<h1>Website of Travis S</h1>
</div>

<!-- Navigation Bar goes here. This is visible on all pages. -->
<div id="nq">
<nav role="navigation">
<ul>
	<li> <a href="{{site.url}}/index.html">Home</a></li>
	<li> <a href="{{site.url}}/coursesindex.html">Courses</a></li>
	<li> <a href="{{site.url}}/musings.html">Musings</a></li>
	<li> <a href="{{site.url}}/research.html">Research</a></li>
	<li> <a href="{{site.url}}/tomoindex.html">Tomography</a></li>
</ul>
</nav>
</div>

<!-- Webpage content goes here -->
<div id="content">
{{ content }}
</div>
<!-- This div "push" is used to force the footer to the bottom of the page. -->
<div class="push"></div>

<!-- Footer content goes here. This is visible on all pages. -->
<div class="footer">
<p><a href="http://panda.unm.edu/" target="_blank">Physics and Astronomy Department</a> of the <a href="http://unm.edu" target="_blank">University of New Mexico</a><br/>
<a href="http://www.mendeley.com/profiles/travis-s1/"><img border="0" src="http://www.mendeley.com/embed/icon/1/red/small" alt="Research papers by Travis S"/></a><br/>
I do not wish to claim a copyright on any of the content on this website, unless otherwise specified within a particular document or page. This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License.</a></p>
</div></div>
</body>
</html>
